.carousel-size-box {
width: auto;
height: auto;
}

.home-title {
    color: rgba(192, 127, 0, .8);
    font-size: 9em;

    text-shadow: 1px 1px rgba(0, 0, 0, .8);
    padding-top: 150px;
    word-spacing: 5px;
}

// .transform-h1 {

//     padding-block-start: 50px;

// }

.home-title2 {
    color: rgba(255, 255, 255, 0.8)
    ;
    font-size: 9em;
}