<div id="carouselExample" class="carousel slide carousel-size-box ">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'https://sothebys-com.brightspotcdn.com/dims4/default/657041f/2147483647/strip/true/crop/4800x2283+0+659/resize/1440x685!/format/webp/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2F2b%2F4c%2F49d9ec5949e5945a74765e591595%2Fn11248-cmhl9-t1-rx-01-2.jpg', class: 'd-block w-100' %>
      <div class="carousel-caption">
        <div class="transform-h1"><h1 class="home-title">NOMAD<h1></div> <h1 class="home-title2 text-end">ARTE</h1>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://sothebys-com.brightspotcdn.com/dims4/default/c82f23f/2147483647/strip/true/crop/3090x1470+0+1426/resize/1440x685!/format/webp/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2Fe8%2Fa4%2Fd6cb1c1e40d388e0d7c94048504a%2Fwillem-de-kooning-untitled.jpg', class: 'd-block w-100' %>
    <div class="carousel-caption">
        <h1 class="home-title">NOMADARTE</h1>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://sothebys-com.brightspotcdn.com/dims4/default/9bded50/2147483647/strip/true/crop/2880x1370+0+0/resize/1440x685!/format/webp/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2Ff5%2F6d%2Fdd4103144911ab681207b871aab2%2Fprivate-sales-website-banners-b-2880x1370.jpg', class: 'd-block w-100' %>
    <div class="carousel-caption">
        <h1 class="home-title">NomadArte</h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

