.button {
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.button:hover {
  color: black;
}

.button:hover {
  background-color: #F0A500;
  transition: all 0.4s ease;
  color: black;
}

.full-width-btn {
  width: 100%;
}

.primary-btn {
  color: #F0A500;
  border-radius: 10px;
  background-color: black;
  border: none;
  padding: 10px;
}

.primary-btn:hover {
  background-color: #F0A500;
  color: black;
  transition: all 0.4s ease;
}

#navbar-btn-prim {
  color: black;
  background-color: #F0A500;
  border: 1px solid #F0A500;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: max-content;
  z-index: 1;
}

#navbar-btn-prim:hover {
  background-color: #ffbc2a;
  border-color: #ffbc2a;
  transition: all 0.4s ease;
}

#navbar-btn-sec {
  color: #F0A500;
  margin-right: 10px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  width: max-content;
  z-index: 1;
}

#navbar-btn-sec:hover {
  color: #f0a400bb;
  font-weight: 500;
  transition: all 0.4s ease;
}

.secondary-btn {
  border: 2px solid #F0A500;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.secondary-btn:hover {
  background-color: #f0a400a8;
  font-weight: 500;
  transition: all 0.4s ease;
}

.heart-button {
background-color: #F0A500 !important;
}

#heart-button:hover {
  background-color: #f0a400a8 !important;
}

#search-btn {
  color: #F0A500;
  padding: 10px;
  text-decoration: none;
  border: 0px;
  border-radius: 7px;
}

#search-btn:hover {
  color: black;
  background-color: #F0A500;
  font-weight: 500;
  transition: all 0.4s ease;
}
