.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: fit-content;
  height: 40px;
}

.nav-link {
  color: #F0A500;
}

.nav-link:hover {
  color: #f0a400ae;
}

.search-field {
  border: 2px solid #F0A500;
  border-radius: 10px;
}

#search-input {
  color: #F0A500;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: black;
  cursor: text;
  height: 44px;
}
